<%= turbo_frame_tag dom_id(room), class: "flex py-4 border-b border-solid border-gray-200 last:border-none" do %>
  <%= link_to room_path(room), class: "flex-1 flex px-2 h-8", title: room.title, data: { turbo_frame: "_top" } do %>
    <%= image_tag "chat-bubble.svg", size: 20 %>
    <h2 class="ml-2 px-3 py-1"><%= room.title %></h2>
  <% end %>
  <%= link_to edit_room_path(room), class: "px-2 py-1", title: "Edit" do %>
    <%= image_tag "pencil-square.svg", size: 20 %>
  <% end %>
  <%= button_to room_path(room), method: :delete, class: "px-2 py-1", title: "Delete" do %>
    <%= image_tag "trash.svg", size: 20 %>
  <% end %>
<% end %>
