<%= turbo_stream_from "rooms" %>

<div class="container mx-auto mt-12 px-5 w-8/12">
  <nav class="pb-12 border-b border-blue-200">
    <%= link_to root_path, class: "font-semibold flex" do %>
      <%= image_tag "turbo.svg", size: 40 %>
      <p class="ml-2 text-turbo text-4xl">
        <i>TURBO</i>
        <span class="text-2xl">chat</span>
      </p>
    <% end %>
  </nav>

  <div id="notice" class="my-4 bg-teal-100 border-l-4 border-teal-500 text-teal-700" role="notice"></div>

  <h1 class="font-bold text-4xl mt-8 mb-12">Rooms</h1>

  <div id="rooms">
    <%= render partial: "rooms/room", collection: @rooms, as: :room %>
  </div>

  <div class="flex justify-between items-end">
    <%= link_to "Create a room", new_room_path, data: { turbo_stream: true }, class: "mt-4 w-40 auto block bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-3 px-4 rounded-full" %>
    <%= link_to "About", about_path, class: "mt-4 auto block text-black font-semibold" %>
  </div>
</div>
